body {
    background-color:  #eef0ea !important;
    font-family: Verdana, sans-serif !important;
}
h1 {
    font-weight: bold !important;
    font-size: 2em !important;
}
h2 {
    font-weight: bold !important;
    align-items: center;
    text-align: center;

}
header {
    background: url('../img/background.jpg') no-repeat center center/cover;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px 1px 10px black;
    min-height: 20vh;
}
.custom-block1 {
    background: #F9FBF5;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(29, 29, 58, 0.1);
}
.custom-block2 {
    background: #F9FBF5;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(29, 29, 58, 0.1);
}
/* Адаптация */
@media (max-width: 1024px) {
    header {
        font-size: 1.1em;
        padding: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .contacts {
        margin: 0 !important;
}
}
.custom-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(52, 76, 17, 0.7);
    padding: 10px 0;
    text-align: center;
    z-index: 1050; 
}

.custom-navbar a {
    text-decoration: underline;
    text-underline-offset: 4px;
    display: inline-block;
    color: white;
    margin: 0 15px;
    font-size: 18px;
}
#about, #prices, #contacts {
    scroll-margin-top: 40px; 
}
/* Таблица */
.table.prices-table {
    border-radius: 8px;
    overflow: hidden;
    border-collapse: collapse;
    background-color: #f3f3f3;
    color: #7b7b7b;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.table.prices-table th {
    background-color: #344C11;
    color: white;
    border-right: 1px solid #dbdbdb;
    line-height: 1.1;
    font-weight: 700;
    vertical-align: middle;
}

.table.prices-table td {
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

.table.prices-table td span:first-child {
    color: #444444;
}

.table.prices-table td span:not(:first-child) {
    color: #8e8e8e;
}
/* Правый блок */
.check-list {
    padding-left: 0;
}

.check-list li {
    color: #444444;
    text-align: left;
    background: url("../icons/ок.svg") no-repeat left center;
    background-size: 18px 18px;
    padding-left: 28px;
    margin-bottom: 8px;
}

/* Контейнер контактов */
.custom-block3 {
    background-color: #344c11;
    color: #ffffff;
    transition: all 0.3s ease;
    text-align: center;
    line-height: 1;
}
.phone {
    font-size: 1.5rem !important;

}
.telegram-link {
    color: #ffffff;
    text-decoration: underline;
}
.telegram-link:hover {
    color: #ff0000;
    text-decoration: none;
}

.contacts-h {
    background-color: #344c11;
    color: #ffffff;
    font-size: 2em !important;

}
/* Кнопка */
.btn-wave {
    position: relative;
    display: inline-block;
    background-color: #D4A017;
    color: #1c1c1c !important;
    font-weight: bold;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    z-index: 1;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-wave:hover {
    background-color: #c49515;
}

/* Волны */
.btn-wave::before,
.btn-wave::after,
.btn-wave .wave-extra {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: rgba(255, 255, 255, 0.2);
    z-index: 0;
    animation: wave-rect 2.5s infinite;
}

.btn-wave::after {
    animation-delay: 1.25s;
}

.btn-wave .wave-extra {
    animation-delay: 2s;
}

@keyframes wave-rect {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1.2, 1.8);
        opacity: 0;
    }
}
.sticky {
    position: fixed;
    top: 20px;
    z-index: 9999;
    background-color: #344C11;
    width: 375px;
    left: 20px;
}
/* Страница формы */

 html, body {
    margin: 0;
    padding: 0;
}
.header-form {
    background: url('../img/background2.jpg') no-repeat center center;
    background-size: cover;
    width: 100vw;             
    min-height: 20vh;        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;   
}
@media (max-width: 1024px) {
  .header-form {
    background-image: url('../img/background3.jpg');
    min-height: 22vh;
    background-size: cover;
    background-position: center;
  }
}
#form-page {
    background-color: #f4f4f4;
    padding: 20px;
    max-width: 600px;
    margin: 40px auto 0;
    border-radius: 10px;
}

#form-page input, #form-page textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#form-page button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;  
    box-sizing: border-box;
}

#form-page button:hover {
    background-color: #45a049;
}

.required {
    color: red;
    font-weight: bold;
    margin-right: 10px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
